#grid-header {
  text-align: center;
  margin: 2em;
}

#grid-container {
  // border: 1px dotted black;
  margin: 1em;
  display: flex;
  gap: 1em;
  max-width: 100rem;
}

#filters {
  // border: 1px solid blue;
  min-width: 12em;
  font-family: $main-font;

  hr {
    margin: 2em 0;
  }



  #filter-temp {
    width: 100%;
  }

  option {
    // padding: 0;
    margin-bottom: 1em;
    width: 12em;
    position: absolute;
    &:first-child {
      left:5px;
    }
    &:nth-child(2) {
      left:66px;
    }
    &:nth-child(3) {
      left:122px;
    }
    &:nth-child(4) {
      left:182px;
    }
  }

  datalist {
    display: flex;
    flex-direction: column;
    // justify-content: space-evenly;
    writing-mode: vertical-lr;
    // width: 100%;
  }
  
  input[type="range"] {
    margin: 0;
    width: 100%;
  }
}


#grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  // grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 1em;
}

.card {
  // border: 3px solid hotpink;
  border-radius: 8px;
  font-family: $main-font;
  line-height: 2em;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 3px;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));

  #card-header {
    position: relative;
  }

  #destination-image {
    // background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
  }

  img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    position: relative;
    // background: linear-gradient(rgba(0,130,170,.5),rgba(0,130,170,.5));
  }

  img:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));
    pointer-events: none; /* This line ensures that the gradient overlay does not block mouse interactions with the image */
  }

  #destination-name {
    font-size: 1.5em;
    position: absolute;
    top: 0;
    padding: 1.5rem;
    color: white;
  }

  #card-content {
    padding: 0.5rem 1rem;
    box-shadow: 0 0.25rem 1rem, rgb(0 0 0 / 1);
  }
}