main {
  background: rgb(255, 255, 255);
  position: relative;
  height: 92svh;
  width: 100%;
  z-index: 300;
  // margin: 0 auto;
}

header {
  z-index: 400;
}

input[type="radio"] {
  display: none;
}

.slide-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; 
}

.homepage-heading {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: white;
  z-index: 400;
  text-align: center;
  text-shadow: $title-shadow;
  padding: 0 2em;
  & h1 {
    margin-top: 5%;
    font-size: clamp(3em, 4em, $main-title);
    font-family: $brand-font;
  }
  & h2 {
    // max-width: 30em;
    line-height: 1.5em;
    inline-size: clamp(10em, 70vw, 20em);
    overflow-wrap: break-word;
  }
}

// SLIDES SETUP

#slide-role {
  background: inherit;
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  z-index: 100;
  transition: left .5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  /* flex */
  display: flex;

  // background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 60%);
  // background-image: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 60%);
  // opacity: 0.8;
}

.slide {
  width: 50%;
  height: 100%;
  background-size: cover;
  background-position: center;
  // background-color: darken(black, 20%);
  background-color: rgb(200, 200, 200);
  background-blend-mode: multiply;
}

// BUTTONS LOGIC

.btn, .btn::after {
  border-radius: 50%;
  transition: all .5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.btn {
  border: 1px solid rgba(0, 0, 0, 0.281);
  background: rgb(255, 255, 255);
  box-shadow: 0px 2px 2px rgba(56, 56, 56, 0.822);
  position: absolute;
  bottom: 12%;
  width: 30px;
  height: 30px;
  // width: 3em;
  // height: 3em;
  cursor: pointer;
  transform: scale(1.1);
  z-index: 1000;
}

.btn:nth-of-type(1) {
  left: 38%;
}

#emoji-cold {
  left:37.9%;
}

.btn:nth-of-type(2) {
  left: 45%;
}

#emoji-mild {
  left: 44.9%;
}

.btn:nth-of-type(3) {
  left: 52%;
}

#emoji-warm {
  left:51.9%
}

.btn:nth-of-type(4){
  left: 59%;
}

#emoji-hot {
  left: 58.9%;
}

.btn:hover {
  transform: scale(1.4);
}

.btn::after {
  content: "";
  display: inline-block;
  border: 1px solid white;
  // background: rgb(11, 185, 238);
  background: $accent-colour1;
  width: 20px;
  height: 20px;
  margin: 3px 3px;
  transform: scale(.5, .5);
  box-shadow: 0px 1px 5px rgba(56, 56, 56, 0.822);
}

#slide-1-trigger+.btn::after {
  background: $cold-colour;
}

#slide-2-trigger+.btn::after {
  background: $mild-colour;
}

#slide-3-trigger+.btn::after {
  background: $warm-colour;
}

#slide-4-trigger+.btn::after {
  background: $hot-colour;
}

.emoji, .emoji::after {
  position: absolute;
  bottom: 16.5%;
  font-size: 2em;
  z-index: 500;
  transition: all .5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  text-shadow: $title-shadow;
}

#prev-next-controls {
  position: absolute;
  width: 100%;
  z-index: 400;
  top: 40%
}

#explore {
  position: absolute;
  width: 100%;
  // border: 1px solid yellow;
  z-index: 400;
  bottom: 3%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#btn-explore {
  // position: absolute;
  // left: 42%;
  font-family: $brand-font;
  font-size: 1.25em;
  // left: 26%;
  // height: 2rem;
  // width: 6rem;
}

.prev-next {
  position: absolute;
  font-size: 4em;
  font-family: $main-font;
  background: none;
  color: white;
  border: none;
  cursor: pointer;
  outline: inherit;
  text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
  // top: 40%
  &:hover {
    color: darken($accent-colour1, 3%);
  }
  &:disabled {
    opacity: 50%;
    pointer-events: none;
  }
}

#btn-next {
  right: 2.5%;
}

#btn-previous {
  left: 2.5%;
}

// SLIDE LOGIC

input[type="radio"]:checked#slide-2-trigger~div.slide-wrapper>div#slide-role {
    left: -100%;
}

input[type="radio"]:checked#slide-3-trigger~div.slide-wrapper>div#slide-role {
    left: -200%;
}

input[type="radio"]:checked#slide-4-trigger~div.slide-wrapper>div#slide-role {
    left: -300%;
}

// BUTTON LOGIC

input[type="radio"]:checked+label.btn {
    transform: scale(1.2);
    border: 1px solid rgba(53, 53, 53, 0.308);
}

input[type="radio"]:checked+label.btn::after {
    transform: scale(1.1, 1.1);
    // background: lightskyblue;
    // background: $accent-colour1;
}

input[type="radio"]:checked#slide-1-trigger+label.btn::after {
  // background: lightskyblue;
  background: $cold-colour;
}

input[type="radio"]:checked#slide-2-trigger+label.btn::after {
  // background: lightskyblue;
  background: $mild-colour;
}

input[type="radio"]:checked#slide-3-trigger+label.btn::after {
  // background: lightskyblue;
  background: $warm-colour;
}

input[type="radio"]:checked#slide-4-trigger+label.btn::after {
  // background: lightskyblue;
  background: $hot-colour;
}

// EXPLORE BUTTON STYLING

.site-button {
  width: 8em;
  font-size: 1em;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  height: 2.5em;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.site-button:hover {
  background-position: 100% 0;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.site-button:focus {
  outline: none;
}

.site-button {
  background-image: linear-gradient(
    to right,
    $accent-colour1,
    $accent-colour2,
    $accent-colour3,
    $accent-colour4,
  );
  box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}