@media (max-width: 1200px) {

  #grid {
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  }
}

@media (max-width: 600px) {

  header {
    padding-left: 0.5em;
  }

  #hero h1 {
    font-size: 3em;
  }

  #grid-container, #common, #attractions, #reviews {
    display: block;
    width: 100%;
  }

  #filters{
    display: none;
  }
}

@media only screen and (max-width: 750px) {
  .slide-wrapper {
      height: 100%;
  }

  // #prev-next-controls {
  //   bottom: 1.5%;
  //   position: fixed;
  //   // &:hover {
  //   //   color: inherit;
  //   // }
  // }

  #btn-next {
    bottom: 1.5%;
  }
  
  #btn-previous {
    bottom: 1.5%;
  }

  // .btn:nth-of-type(1){
  //   left: 93%;
  //   bottom: 60%;
  // }

  // #emoji-cold {
  //   left: 87%;
  //   bottom: 59%;
  // }

  // .btn:nth-of-type(2) {
  //   left: 93%;
  //   bottom: 50%;
  // }

  // #emoji-mild {
  //   left: 87%;
  //   bottom: 49%;
  // }

  // .btn:nth-of-type(3) {
  //   left: 93%;
  //   bottom: 40%;
  // }

  // #emoji-warm {
  //   left: 87%;
  //   bottom: 39%;
  // }

  // .btn:nth-of-type(4) {
  //   left: 93%;
  //   bottom: 30%;
  // }

  // #emoji-hot {
  //   left: 87%;
  //   bottom: 29%;
  // }
}

@media (max-width: 900px){
  .btn:nth-of-type(1) {
    left: 18%;
  }
  
  #emoji-cold {
    left: 17.9%;
  }
  
  .btn:nth-of-type(2) {
    left: 38%;
  }
  
  #emoji-mild {
    left: 37.9%;
  }
  
  .btn:nth-of-type(3) {
    left: 57%;
  }
  
  #emoji-warm {
    left: 56.9%
  }
  
  .btn:nth-of-type(4){
    left: 76%;
  }
  
  #emoji-hot {
    left: 75.9%;
  }
  
}

@media only screen and (max-width: 450px) {

  // .btn:nth-of-type(1) {
  //     left: 85%;
  // }
  // .btn:nth-of-type(2), #emoji-mild {
  //     left: 85%;
  // }
  // .btn:nth-of-type(3), #emoji-warm {
  //     left: 85%;
  // }
  // .btn:nth-of-type(4), #emoji-hot {
  //     left: 85%;
  // }
  #common, #attractions, #reviews {
    & #common-container, #forecast-container, #attraction-container, #destination-reviews-container, #add-review-container {
    width: 90%;
    margin: 2em;
    // border: 1px solid black;
    }
    
    #attraction-container .icon-container { 
      display: block;
      // width: 80%;
    }

    #common-container {
      gap: 1.5em;
    }

    #forecast-container {
      // margin-right: 40px;
      overflow-x: auto;  
    }

    #map {
      width: auto;
    }
  }

  .homepage-heading {
    & h1 {
      font-size: 3em;
      margin-top: 2em;
    }
    & h2 {
      font-size: 1.25em;
    }
  }

  
  
}