#hero {
  min-height: 30em;
  margin: 0;
  background-size: cover;
  background-position: center;
  background-repeat: none;
  // background-color: darken(black, 10%);
  background-color: rgb(230, 230, 230);
  background-blend-mode: multiply;
  color: white;
  font-family: $main-font;
  // display: flex;
  // flex-direction: column;
  // align-items: bottom;
  // justify-content: baseline;
  
  & > h1 {
    font-size: $main-title;
    margin: 0;
    padding: 1em;
    text-shadow: 
    1px 0px 1px #ccc, 0px 1px 1px #eee, 
    2px 1px 1px #ccc, 1px 2px 1px #eee,
    // 3px 2px 1px #ccc, 2px 3px 1px #eee,
    // 4px 3px 1px #ccc, 3px 4px 1px #eee,
    // 5px 4px 1px #ccc, 4px 5px 1px #eee,
    // 6px 5px 1px #ccc, 5px 6px 1px #eee,
    // 7px 6px 1px #ccc;
  }

  & > p {
    padding-left: $main-title;
  }
}

#common, #attractions {
  display: flex;

  & > #common-container {
    margin: $main-title;
  }
}

#common-container, #forecast-container {
  width: 50%;
}
