// importing SCSS
@import 'components/variables';
@import 'components/header';
@import 'components/home';
@import 'components/modal';
@import 'components/card';
@import 'components/singlepage';
@import 'components/mediaquery';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}